@import "../../common/stylus/mixins.styl"$rem = 750/10rem.wrap  background #ffffff  height (667*2/$rem)  .ListContent    padding-top (30/$rem)    margin-left (162/$rem)    font-size (24/$rem)    .banner      width 100%      height (192/$rem)      img        display inline-block        width 100%        height 100%    .cataList      .cateClass        width 100%        height (108/$rem)        font-size (26/$rem)        text-align center        line-height (108/$rem)      ul        clearFix()        li          float left          width 33.33%          height (216/$rem)          text-align center          img            display inline-block            width (144/$rem)            height (144/$rem)          span            display inline-block            width 100%            overflow hidden            text-overflow ellipsis            white-space nowrap