@import "../../common/stylus/mixins.styl"$rem = 750/10rem.logowrap  .logo    padding-top (144/$rem)    height (64/$rem)    .logoImg      height 100%      width 100%      text-align center      img        height 100%