@import "../../common/stylus/mixins.styl"$rem = 350/10rem.LoginHeaderwrap  height (44/$rem)  box-sizing border-box  position fixed  top 0  left 0  right 0  z-index 10  header    position relative    height 100%    padding-left (12/$rem)    padding-right (8/$rem)    background #fafafa    display flex    align-items center    justify-content space-between    bottom-border-1px(#d9d9d9)    .iconfont      font-size (24/$rem)      line-height (50/$rem)    a      display inline-block      height 100%    .logoPic      width (86/$rem)      >.logos        position absolute        left 50%        top 50%        transform translate(-50%,-50%)        width (86/$rem)        height (27/$rem)    .right      .iconfont        margin-right (5/$rem)